* {
  box-sizing: border-box;
}

h2,
h1 {
  color: #1c1f3c;
  text-align: center;
  text-decoration: none;
  font-family: "Quicksand", "Montserrat", Arial, Helvetica, sans-serif;
}

.experience > ul {
  margin-left: -5px;
}

.contact,.formation,.centre--interets>ul{
  margin-right: 35px;
  text-align: right;
}

.contact_title,.formation_title,.centre--interets_title{
  text-align: right;
  margin-right: 35px;
}

.competences_title,
.experience_title,
.profil_title {
  text-align: left;
  margin-left: 35px;
}

.contact,
.formation,
.experience,
.centre--interets,
.competences,
.profil {
  margin-bottom: 10vh;
}

.projects_title {
  text-align: center;
}

.projects {
  text-align: center;
  margin-bottom: 15%;
}

.profil > p {
  text-align: left;
  margin-left: 35px;
  margin-right: 35px;
}

#icon_user,
#icon_case,
#icon_bulb {
  display: flex;
  justify-content: center;
  margin: 10vh 0;
}

html {
  border-right: 8px #1c1f3c solid;
  border-left: 8px #1c1f3c solid;
  color: #191970;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.1em;
}


li {
  list-style-type: none;
  margin: 40px 0;
}

ul {
  line-height: -10%;
}

.body__pic{
    display: block;
    margin: auto;
    }


a {
  text-decoration: none;
  color: #191970;
}

a:hover {
  color: red;
}

.contactme__icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 25px;
  margin-bottom: 50px;
}


.desktop {
  display: none;
}

.competences_title {
  margin-left: 5px;
}

.competences{
  margin: 0 35px;
  margin-bottom: 10vh;
}

footer {
  text-align: center;
}

.name {
  font-size: 3.5em;
}

body {
  background-color: #fff8dc;
}

span {
  font-weight: bold;
}

.contactme{
  margin: 0 0 ;
}

.formation_title{
  margin-right: 0;
}



@media screen and (min-width: 500px) {
    .body__pic{
    display: block;
    margin: auto;
    }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .competences_title,
  .experience_title,
  .profil_title {
    text-align: right;
  }

  .contact_title,
  .formation_title,
  .centre--interets_title {
    text-align: left;
    margin-left: 40px;
  }


  .profil > p {
    text-align: right;
    margin-right: 0px;
  }

  .contact,.formation> ul {
    text-align: left;
  }


  .experience > ul {
    text-align: right;
    margin: 0 auto;
  }
  .competences_title {
    text-align: right;
    margin-right: 37px;
  }

  .compe_container {
    width: 43%;
  }

  .centre--interets > p {
    text-align: left;
  }

  .centre--interets_title {
    text-align: left;
    margin-left: 3vw;
  }

  .competences {
    margin-left: 40%;
  }

  .projects {
    margin-bottom: 50px;
  }

  .contactme__icon {
    margin-bottom: 40px;
  }

  footer {
    text-align: center;
  }

  html {
    border-right: 10px #1c1f3c solid;
    border-left: 10px #1c1f3c solid;
  }

  #icon_user,
  #icon_case,
  #icon_bulb {
    margin: 10vh 0;
  }

  .profil,.contact,.experience,.formation,.centre--interets,.competences{
    width: 50%;
  }

  .contact,.formation,.centre--interets{
    padding-left: 5vw;
    margin-bottom: -5vh;
}

.profil,.experience,.competences{
  padding-right: 5vw;
  margin-bottom: -5vh;
}

.centre--interets>ul{
  text-align: left;
  margin-left: -2vw;
}

.projects_title{
  margin-top: 10vh;
}

.competences{
  padding-right: 3vw;
}


}

@media screen and (min-width: 800px) {
    .body__pic{
        display: block;
        margin: auto;
        }

  .centre--interets {
    margin-right: 53px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: initial;
  }

  html {
    border-right: 130px #1c1f3c solid;
    border-left: 130px #1c1f3c solid;
  }

  .competences_title{
    margin: 23px -32px;
  }

  .centre--interets>ul{
    margin-left: 1vw;
  }

  .compe_container{
    width: 50%;
  }

  .centre--interets_title{
    margin-left: 3vw;
  }

  .projects{
    margin-bottom: 10vh;
  }
}
